# IMPORTING THE LIBRARIES

In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as mlt

# DATA INGESTION

## Loding the data

In [2]:
data=pd.read_csv("Bengaluru_House_Data (2).csv")

# Data Preprocessing

## Info about the data

In [3]:
data.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area_type     13320 non-null  object
 1   availability  13320 non-null  object
 2   location      13319 non-null  object
 3   size          13304 non-null  object
 4   society       7818 non-null   object
 5   total_sqft    13320 non-null  object
 6   bath          13247 non-null  float64
 7   balcony       12711 non-null  float64
 8   price         13320 non-null  float64
dtypes: float64(3), object(6)
memory usage: 936.7+ KB

## to see the repetition of data in one single column

In [5]:
data.groupby('area_type')['area_type'].agg('count')

area_type
Built-up  Area          2418
Carpet  Area              87
Plot  Area              2025
Super built-up  Area    8790
Name: area_type, dtype: int64

In [6]:
data.groupby('availability')['availability'].agg('count')

availability
14-Jul                      1
14-Nov                      1
15-Aug                      1
15-Dec                      1
15-Jun                      1
                        ...
22-Mar                      3
22-May                     10
22-Nov                      2
Immediate Possession       16
Ready To Move           10581
Name: availability, Length: 81, dtype: int64

In [7]:
data.groupby('location')['location'].agg('count')

location
 Anekal                 1
 Banaswadi              1
 Basavangudi            1
 Bhoganhalli            1
 Devarabeesana Halli    6
                       ..
t.c palya               1
tc.palya                4
vinayakanagar           1
white field,kadugodi    1
whitefiled              1
Name: location, Length: 1305, dtype: int64

In [8]:
data.groupby('size')['size'].agg('count')

size
1 BHK          538
1 Bedroom      105
1 RK            13
10 BHK           2
10 Bedroom      12
11 BHK           2
11 Bedroom       2
12 Bedroom       1
13 BHK           1
14 BHK           1
16 BHK           1
18 Bedroom       1
19 BHK           1
2 BHK         5199
2 Bedroom      329
27 BHK           1
3 BHK         4310
3 Bedroom      547
4 BHK          591
4 Bedroom      826
43 Bedroom       1
5 BHK           59
5 Bedroom      297
6 BHK           30
6 Bedroom      191
7 BHK           17
7 Bedroom       83
8 BHK            5
8 Bedroom       84
9 BHK            8
9 Bedroom       46
Name: size, dtype: int64

In [9]:
data.groupby('society')['society'].agg('count')

society
3Codeli    2
7 ise P    1
A idse     2
A rtsai    1
ACersd     1
          ..
Zonce E    2
Zostaa     3
i1ncyRe    1
i1odsne    1
i1rtsCo    3
Name: society, Length: 2688, dtype: int64

In [10]:
data.groupby('total_sqft')['total_sqft'].agg('count')

total_sqft
1                1
1.25Acres        1
1.26Acres        1
1000           172
1000 - 1285      1
              ...
995             10
996              4
997              2
998              1
999              3
Name: total_sqft, Length: 2117, dtype: int64

In [11]:
data.groupby('bath')['bath'].agg('count')

bath
1.0      788
2.0     6908
3.0     3286
4.0     1226
5.0      524
6.0      273
7.0      102
8.0       64
9.0       43
10.0      13
11.0       3
12.0       7
13.0       3
14.0       1
15.0       1
16.0       2
18.0       1
27.0       1
40.0       1
Name: bath, dtype: int64

In [12]:
data.groupby('balcony')['balcony'].agg('count')

balcony
0.0    1029
1.0    4897
2.0    5113
3.0    1672
Name: balcony, dtype: int64

## droping data set with high no of variable values and are sort of irrelavent

In [13]:
data1=data.drop(['society'],axis='columns')
data1.head()

,area_type,availability,location,size,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,1200,2.0,1.0,51.00

# DATA CLEANING

## Null values of in data

In [14]:
data1.isnull().sum()

area_type         0
availability      0
location          1
size             16
total_sqft        0
bath             73
balcony         609
price             0
dtype: int64

In [15]:
data1['balcony']=data1['balcony'].fillna(0) #considering the nan values in balcony as 0

In [16]:
data1.isnull().sum()

area_type        0
availability     0
location         1
size            16
total_sqft       0
bath            73
balcony          0
price            0
dtype: int64

In [17]:
data2=data1.dropna() # droping the rest as they are very low valued
data2.isnull().sum()

area_type       0
availability    0
location        0
size            0
total_sqft      0
bath            0
balcony         0
price           0
dtype: int64

In [18]:
data2['size'].unique()
#diffrent terms showing same value

array(['2 BHK', '4 Bedroom', '3 BHK', '4 BHK', '6 Bedroom', '3 Bedroom',
       '1 BHK', '1 RK', '1 Bedroom', '8 Bedroom', '2 Bedroom',
       '7 Bedroom', '5 BHK', '7 BHK', '6 BHK', '5 Bedroom', '11 BHK',
       '9 BHK', '9 Bedroom', '27 BHK', '10 Bedroom', '11 Bedroom',
       '10 BHK', '19 BHK', '16 BHK', '43 Bedroom', '14 BHK', '8 BHK',
       '12 Bedroom', '13 BHK', '18 Bedroom'], dtype=object)

In [19]:
data2['bhk']=data2['size'].apply(lambda x: x.split(' ')[0])
data2.head()

C:\Users\hp 1\AppData\Local\Temp\ipykernel_12836\3398454749.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2['bhk']=data2['size'].apply(lambda x: x.split(' ')[0])

,area_type,availability,location,size,total_sqft,bath,balcony,price,bhk
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,1056,2.0,1.0,39.07,2
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,2600,5.0,3.0,120.00,4
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,1440,2.0,3.0,62.00,3
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,1521,3.0,1.0,95.00,3
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,1200,2.0,1.0,51.00,2

In [20]:
data2['bhk'].unique()

array(['2', '4', '3', '6', '1', '8', '7', '5', '11', '9', '27', '10',
       '19', '16', '43', '14', '12', '13', '18'], dtype=object)

In [21]:
data2['total_sqft'].unique()

array(['1056', '2600', '1440', ..., '1133 - 1384', '774', '4689'],
      dtype=object)

In [22]:
def is_num(x):
    try:
        float(x)
    except:
        return True
    return False

In [23]:
data2[data2['total_sqft'].apply(is_num)].head()

,area_type,availability,location,size,total_sqft,bath,balcony,price,bhk
30,Super built-up Area,19-Dec,Yelahanka,4 BHK,2100 - 2850,4.0,0.0,186.000,4
122,Super built-up Area,18-Mar,Hebbal,4 BHK,3067 - 8156,4.0,0.0,477.000,4
137,Super built-up Area,19-Mar,8th Phase JP Nagar,2 BHK,1042 - 1105,2.0,0.0,54.005,2
165,Super built-up Area,18-Dec,Sarjapur,2 BHK,1145 - 1340,2.0,0.0,43.490,2
188,Super built-up Area,Ready To Move,KR Puram,2 BHK,1015 - 1540,2.0,0.0,56.800,2

### to convert the data of total_sqft into integer value or make them none

In [24]:
def sol_total_sqft(x):
    integer=x.split('-')
    if(len(integer)==2):
        return(float(integer[0])+float(integer[1]))/2
    try:
        return float(x)
    except:
        return None

In [25]:
sol_total_sqft('2000')

2000.0

In [26]:
data3=data2.copy()
data3['total_sqft']=data3['total_sqft'].apply(sol_total_sqft)
data3.loc[122]

area_type       Super built-up  Area
availability                  18-Mar
location                      Hebbal
size                           4 BHK
total_sqft                    5611.5
bath                             4.0
balcony                          0.0
price                          477.0
bhk                                4
Name: 122, dtype: object

In [27]:
data3.loc[410]

area_type       Super built-up  Area
availability           Ready To Move
location                     Kengeri
size                           1 BHK
total_sqft                       NaN
bath                             1.0
balcony                          0.0
price                           18.5
bhk                                1
Name: 410, dtype: object

In [28]:
data4=data3.dropna() #del the nan valued again after change it into int/float
data4.isnull().sum()

area_type       0
availability    0
location        0
size            0
total_sqft      0
bath            0
balcony         0
price           0
bhk             0
dtype: int64

# FEATURE ENGG.

In [29]:
data5=data4.copy()
data5['price_per_sqft']=data5['price']*100000/data5['total_sqft']
data5.head()

,area_type,availability,location,size,total_sqft,bath,balcony,price,bhk,price_per_sqft
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,1056.0,2.0,1.0,39.07,2,3699.810606
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,2600.0,5.0,3.0,120.00,4,4615.384615
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,1440.0,2.0,3.0,62.00,3,4305.555556
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,1521.0,3.0,1.0,95.00,3,6245.890861
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,1200.0,2.0,1.0,51.00,2,4250.000000

In [30]:
data5.location=data5.location.apply(lambda x:x.strip())
loc=data5.groupby('location')['location'].agg('count').sort_values(ascending=False)
loc

location
Whitefield               533
Sarjapur  Road           392
Electronic City          304
Kanakpura Road           264
Thanisandra              235
                        ...
1 Giri Nagar               1
Kanakapura Road,           1
Kanakapura main  Road      1
Kannur                     1
whitefiled                 1
Name: location, Length: 1287, dtype: int64

In [31]:
len(loc[loc<=20]) #since max loc non repeating therefore they can be classified as others
loc2=loc[loc<=20]

In [32]:
data5.location=data5.location.apply(lambda x:'other' if x in loc2 else x )
len(data5.location.unique())

144

In [33]:
data5.head()

,area_type,availability,location,size,total_sqft,bath,balcony,price,bhk,price_per_sqft
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,1056.0,2.0,1.0,39.07,2,3699.810606
1,Plot Area,Ready To Move,other,4 Bedroom,2600.0,5.0,3.0,120.00,4,4615.384615
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,1440.0,2.0,3.0,62.00,3,4305.555556
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,1521.0,3.0,1.0,95.00,3,6245.890861
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,1200.0,2.0,1.0,51.00,2,4250.000000

In [34]:
ready=data5.groupby('availability')['availability'].agg('count').sort_values(ascending=False)
len(ready[ready<=1000])

#data5.availability=data5.availability.apply(lambda x:'other' if x )

79

In [35]:
data5.availability=data5.availability.apply(lambda x:'Ready To Move' if x=='Ready To Move' else None)
data5

,area_type,availability,location,size,total_sqft,bath,balcony,price,bhk,price_per_sqft
0,Super built-up Area,None,Electronic City Phase II,2 BHK,1056.0,2.0,1.0,39.07,2,3699.810606
1,Plot Area,Ready To Move,other,4 Bedroom,2600.0,5.0,3.0,120.00,4,4615.384615
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,1440.0,2.0,3.0,62.00,3,4305.555556
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,1521.0,3.0,1.0,95.00,3,6245.890861
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,1200.0,2.0,1.0,51.00,2,4250.000000
...,...,...,...,...,...,...,...,...,...,...
13315,Built-up Area,Ready To Move,Whitefield,5 Bedroom,3453.0,4.0,0.0,231.00,5,6689.834926
13316,Super built-up Area,Ready To Move,other,4 BHK,3600.0,5.0,0.0,400.00,4,11111.111111
13317,Built-up Area,Ready To Move,Raja Rajeshwari Nagar,2 BHK,1141.0,2.0,1.0,60.00,2,5258.545136
13318,Super built-up Area,None,Padmanabhanagar,4 BHK,4689.0,4.0,1.0,488.00,4,10407.336319
13319,Super built-up Area,Ready To Move,Doddathoguru,1 BHK,550.0,1.0,1.0,17.00,1,3090.909091

In [36]:
data5.isnull().sum()
data6=data5.dropna()
data6.shape

(10525, 10)

# Outlier Removal

## remove data which are not ideally possible

In [37]:
data5["bhk"]=data5["bhk"].astype(int)
data5[data5["total_sqft"]/(data5["bhk"]+data5["balcony"]+data5["bath"])<100]
data6=data5[data5["total_sqft"]/(data5["bhk"]+data5["balcony"]+data5["bath"])>100]
data6.shape

(12668, 10)

In [38]:
data6["price_per_sqft"].describe()

count     12668.000000
mean       6386.287440
std        4231.342849
min         267.829813
25%        4224.137931
50%        5317.725753
75%        6999.471831
max      176470.588235
Name: price_per_sqft, dtype: float64

In [39]:
# remove the data which have non ideal price_per_sqft acc to the location
def remove_pps_outliers(df):
    df_out = pd.DataFrame()
    for key, subdf in df.groupby('location'):
        m = np.mean(subdf.price_per_sqft)
        st = np.std(subdf.price_per_sqft)
        reduced_df = subdf[(subdf.price_per_sqft>(m-st)) & (subdf.price_per_sqft<=(m+st))]
        df_out = pd.concat([df_out,reduced_df],ignore_index=True)
    return df_out
data7 = remove_pps_outliers(data6)
data7.shape

(10629, 10)

In [40]:
data7[data7.bath>data7.bhk+1]

,area_type,availability,location,size,total_sqft,bath,balcony,price,bhk,price_per_sqft
21,Plot Area,Ready To Move,2nd Stage Nagarbhavi,6 Bedroom,3000.0,8.0,3.0,451.0,6,15033.333333
22,Plot Area,Ready To Move,2nd Stage Nagarbhavi,6 Bedroom,2400.0,8.0,3.0,450.0,6,18750.000000
523,Plot Area,Ready To Move,BTM 2nd Stage,3 Bedroom,1260.0,5.0,1.0,185.0,3,14682.539683
930,Super built-up Area,None,Begur Road,4 BHK,2464.5,6.0,0.0,118.0,4,4787.989450
1578,Super built-up Area,Ready To Move,EPIP Zone,3 BHK,1499.0,5.0,2.0,102.0,3,6804.536358
...,...,...,...,...,...,...,...,...,...,...
10215,Super built-up Area,None,other,3 BHK,2406.0,5.0,2.0,289.0,3,12011.637573
10389,Plot Area,Ready To Move,other,3 Bedroom,5656.0,5.0,0.0,499.0,3,8822.489392
10567,Super built-up Area,Ready To Move,other,4 BHK,6652.0,6.0,1.0,660.0,4,9921.828022
10576,Plot Area,Ready To Move,other,4 Bedroom,6688.0,6.0,1.0,700.0,4,10466.507177
10596,Super built-up Area,Ready To Move,other,4 BHK,3124.0,6.0,3.0,349.0,4,11171.574904

In [41]:
data8=data7[~(data7.bath>data7.bhk+1)]
data8.shape

(10535, 10)

In [42]:
data9=data8.drop(['availability','size','price_per_sqft'],axis='columns')

In [43]:
data9.head(2)

,area_type,location,total_sqft,bath,balcony,price,bhk
0,Super built-up Area,1st Phase JP Nagar,2825.0,4.0,3.0,250.0,4
1,Super built-up Area,1st Phase JP Nagar,1875.0,3.0,1.0,167.0,3

In [44]:
dum_num1=pd.get_dummies(data9.location)
dum_num1.head()

,1st Phase JP Nagar,2nd Stage Nagarbhavi,5th Phase JP Nagar,6th Phase JP Nagar,7th Phase JP Nagar,8th Phase JP Nagar,9th Phase JP Nagar,Abbigere,Akshaya Nagar,Ambalipura,...,Uttarahalli,Varthur,Vidyaranyapura,Vijayanagar,Vittasandra,Whitefield,Yelahanka,Yelahanka New Town,Yeshwanthpur,other
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [45]:
dum_num2=pd.get_dummies(data9.area_type)
dum_num2.head()

   Built-up  Area  Carpet  Area  Plot  Area  Super built-up  Area
0               0             0           0                     1
1               0             0           0                     1
2               1             0           0                     0
3               0             0           0                     1
4               0             0           0                     1

In [46]:
data10=pd.concat([data9,dum_num1.drop('other',axis='columns')],axis='columns')
data11=pd.concat([data10,dum_num2],axis='columns')
data11.shape

(10535, 154)

In [47]:
data12=data11.drop(['location','area_type'],axis='columns')
data12.shape

(10535, 152)

In [48]:
X=data12.drop(['price'],axis='columns')
y=data12["price"]
y.shape

(10535,)

# Spliting the data into training set and test set

In [49]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=5)

# Machine Learning models

## Testing with Linear Regression

In [50]:
from sklearn.linear_model import LinearRegression
LR_ob=LinearRegression()
LR_ob.fit(X_train,y_train)
LR_ob.score(X_test,y_test)

0.7552836728325306

## Testing with DecisionTreeRegressor

In [51]:
from sklearn.tree import DecisionTreeRegressor
DTR=DecisionTreeRegressor()
DTR.fit(X_train,y_train)
DTR.score(X_test,y_test)

0.42208073125922463

## Test with RandomForestRegressor

In [52]:
from sklearn.ensemble import RandomForestRegressor
RFR = RandomForestRegressor(n_estimators = 10, random_state = 0)
RFR.fit(X_train, y_train)
RFR.score(X_test,y_test)

0.7345969757310904

# Choosing the best model

In [53]:
def predict_price(area_type,location,sqft,bath,balcony,bhk):    
    loc_index = np.where(X.columns==location)[0][0]
    area_index= np.where(X.columns==location)[0][0]
    x = np.zeros(len(X.columns))
    x[0] = sqft
    x[1] = bath
    x[2] = balcony
    x[3] = bhk
    if loc_index >= 0:
        x[loc_index] = 1

    return LR_ob.predict([x])[0]

# Predicting the Price of random

In [54]:
predict_price('Super built-up Area','1st Phase JP Nagar',1875,3,1,4)

C:\Users\hp 1\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

150.3241525486511

In [55]:
predict_price('Plot Area','1st Phase JP Nagar',2000,4,4,4)

C:\Users\hp 1\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

162.90292028360813